*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cv{
    background: chartreuse;
    height: 500px;
    width: 60%;
    position: relative;
    left: 20%;
    top: 50px;
}
.information{
    background: crimson;
    height: 500px;
    width: 40%;
    left: 5%;
    position: absolute;
}


.ability{
    background: blue;
    height: 500px;
    width: 40%;
    right: 5%;
    position: absolute;
    border: solid 2px black;
}
